* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 4px dotted red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        font-family: monospace;
}

img {
    width: 55px;
}

.form {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 50px
    
}

.body {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
}

.button {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


button {
    width: 200px;
    height: 100px;
    font-size: 50px;
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(255, 0, 0, 0.342);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: crosshair;

}

button:hover {
    background-color: #ff0000e0;
    box-shadow: 0px 15px 20px rgba(245, 2, 2, 0.4);
    color: #fff;
  }

h1 {
    text-shadow: 7px 7px #ff0000;
}

h2 {
    text-shadow: 3px 3px #ff0000;
}

.container {
    width: 600px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 2px 1px rgba(238, 7, 7, 0.342);
    padding: 5px;
}

.box {
    color: red; 
    font-family: arial;
    display: flex;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
}

.fill {
    background-color: rgb(255, 0, 0);
}

.fillBlue {
    background-color: #fff;
}